html {font-size: calc(10vw / 3);}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	display: flex;
	font-family: var(--font1);
	margin: 0;
	background: var(--ui-color1);
}

* {box-sizing: border-box;}

div, label {
	display: flex;
	flex-direction: column;
	user-select: none;
	-webkit-user-select: none;
}

input[type="radio"] {display: none;}

/* Chrome, Safari, Opera */
.hide-scrollbar::-webkit-scrollbar {
	-webkit-appearance: none !important;
	display: none !important;
	width: 0 !important;
	background: transparent !important;
}
/* IE, Edge, Firefox */
.hide-scrollbar {
	scrollbar-width: none !important;
	-ms-overflow-style: none !important;
}

svg:not(.player-icon svg) {overflow: visible;}
svg:not(.player-icon svg) path {
	fill: none;
	stroke-width: var(--input-border-width);
	stroke: var(--ui-color2);
	stroke-linecap: round;
	stroke-linejoin: round;
}

main {
	display: flex;
	flex-direction: row;
	height: 100%;
	background: pink;
	transition: margin 0.5s;
}

.screen {
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background: var(--ui-color1);
	overflow: hidden;
}



/** Buttons */
.btn {
	--stalk-bg: var(--ui-color2);
	--inside-bg: var(--ui-color1);
	--text-color: var(--ui-color2);

	--current-extend: 0rem;
	--hover-extend: 0.25rem;
	--active-extend: var(--hover-extend);
	--checked-extend: 0.25rem;

	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	background: var(--stalk-bg);
	cursor: pointer;
}

.btn * {
	transition: all var(--input-transition);
	/* transition-timing-function: steps(3); */
}

.btn:hover .btn-inside,
.btn:hover .btn-stalk
{--current-extend: var(--hover-extend);}
input:checked + .btn {--inside-bg: var(--ui-color3);}
input:checked + .btn .btn-inside,
input:checked + .btn .btn-stalk
{--current-extend: var(--checked-extend);}
.btn:active .btn-inside,
.btn:active .btn-stalk
{--current-extend: var(--active-extend);}

.btn-inside {
	position: absolute;
	bottom: var(--current-extend);
	right: var(--current-extend);
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	background: var(--inside-bg);
	color: var(--text-color);
	border: var(--input-border-width) solid var(--ui-color2);
	cursor: pointer;
}

.btn-stalk {
	position: absolute;
	border: var(--current-extend) solid var(--stalk-bg);
}
.btn-stalk1 {
	top: calc(100% - var(--current-extend));
	left: calc(-1 * var(--current-extend));
	border-bottom-width: 0;
	border-left-color: transparent;
}
.btn-stalk2 {
	top: calc(-1 * var(--current-extend));
	left: calc(100% - var(--current-extend));
	border-top-color: transparent;
	border-right-width: 0;
}

/* Important buttons */
.important-btn {
	--inside-bg: var(--ui-color3);
}

.important-btn .btn-inside {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: var(--font2);
	font-size: 1rem !important;
	font-weight: 100;
	font-style: italic;
	line-height: 1;
	cursor: pointer;
}

.important-btn[disabled] {
	--inside-bg: var(--ui-color1);
	pointer-events: none;
}
.important-btn[disabled] .btn-inside,
.important-btn[disabled] .btn-stalk {--current-extend: 0rem;}
/* .important-btn[disabled] .btn-inside {background: var(--ui-color1);} */
.important-btn[disabled] .important-btn-text1 {display: flex;}
.important-btn[disabled] .important-btn-text2 {display: none;}

.important-btn .important-btn-text1 {display: none;}
.important-btn .important-btn-text2 {display: flex;}

.important-btn svg {height: 1rem;}

/* Grid buttons */
.btn-grid {
	--columns: 5;
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--columns), auto);
	padding: var(--input-border-width);
	padding-bottom: 0;
	padding-right: 0;
}
.btn-grid .btn-inside {
	width: calc(100% + var(--input-border-width));
	height: calc(100% + var(--input-border-width));
}
.btn-grid .btn-stalk1 {
	top: calc(100% - var(--current-extend));
	left: calc(-1 * var(--current-extend) - var(--input-border-width));
}
.btn-grid .btn-stalk2 {
	top: calc(-1 * var(--current-extend) - var(--input-border-width));
	left: calc(100% - var(--current-extend));
}



/** Tiles */
.tile {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: var(--tile-dimension);
	height: var(--tile-dimension);
	background: var(--tile-rack-color);
	color: var(--ui-color2);
	border: var(--input-border-width) solid var(--ui-color2);
}
.tile, .tile * {transition: transform 0.05s;}

.tile-inside {
	position: relative;
	width: 100%;
	height: 100%;
}

.tile-letter {
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
	font-size: calc(0.6 * var(--tile-dimension));
	font-weight: 800;
	line-height: 0.8;
	/* background: pink; */
}
[data-char-count="2"] {font-size: calc(0.5 * var(--tile-dimension));}

.tile-points {
	font-size: calc(var(--tile-dimension) / 5);
	font-weight: 400;
	line-height: 1;
	padding: calc(var(--tile-dimension) / 15);
	padding-top: 0;
	margin-left: auto;
	/* background: lightblue; */
}

.tile[data-state="bag"] {
	--tile-dimension: calc(0.95 * var(--small-tile-dimension));
	margin-top: calc(-1 * var(--input-border-width));
	margin-left: calc(-1 * var(--input-border-width));
}
.tile[data-state="bag"] .tile-letter {justify-content: center;}
.tile[data-state="bag"] .tile-points {display: none;}
.tile[data-state="rack"] {
	--tile-dimension: var(--big-tile-dimension);
	position: absolute;
	z-index: var(--z-tile-rack);
}
.tile[data-state*="rack"]:hover {
	transform: scale(1.1);
	cursor: pointer;
	z-index: var(--z-tile-above);
}
.tile[data-state="dragging"] {
	--tile-dimension: var(--big-tile-dimension);
	position: absolute;
	pointer-events: none;
	z-index: var(--z-tile-rack);
}
.tile[data-state="placed-rack"] {
	--tile-dimension: var(--small-tile-dimension);
	position: absolute;
	z-index: var(--z-tile-placed);
}
.tile[data-state="placed-board"] {
	--tile-dimension: var(--small-tile-dimension);
	position: absolute;
	background: var(--tile-placed-color);
	z-index: var(--z-tile-placed);
}
.tile[data-state="play-order"] {
	--tile-dimension: var(--play-order-tile-dimension);
	position: absolute;
	bottom: calc(var(--tile-dimension) / -2);
	left: calc((100% - var(--tile-dimension)) / 2);
}

.tile[data-blank="true"] .tile-inside {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.tile[data-blank="true"] .tile-letter {
	flex-grow: 0;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	width: calc(0.7 * var(--tile-dimension));
	height: calc(0.7 * var(--tile-dimension));
	font-size: calc(0.5 * var(--tile-dimension));
}
.tile[data-blank="true"] .tile-letter[data-char-count="2"] {font-size: calc(0.4 * var(--tile-dimension));}
.tile[data-blank="true"] .tile-points {display: none;}
.tile[data-blank="true"]:not([data-letter=""]) .tile-letter {
	border: var(--input-border-width) solid var(--ui-color2);
}

.tile[data-player="bot"][data-state="rack"] {pointer-events: none;}
.tile[data-player="bot"][data-state="rack"] .tile-inside {display: none;}



#tilebag-bg {
	fill: var(--ui-color1) !important;
	stroke: none !important;
}