.play-screen {
	flex-direction: row;
	align-items: flex-end;
	padding: 1rem;
}
.play-screen[data-dragging="true"] {cursor: grabbing;}
.play-screen[data-dragging="true"] * {pointer-events: none !important;}
.play-screen[data-dragging="true"] .cell,
.play-screen[data-dragging="true"] .tile[data-state*="placed"]
{pointer-events: all !important;}

.play-column1 {
	flex-grow: 1;
	height: 100%;
	margin-right: 1rem;
}

.play-column2 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
}

.cell-sizer, .cell-spacing-sizer, .small-tile-sizer, .big-tile-sizer {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	pointer-events: none;
	visibility: hidden;
}
.cell-sizer {width: 1rem;}
.small-tile-sizer {width: var(--small-tile-dimension);}
.big-tile-sizer {width: var(--big-tile-dimension);}

.player-icon {
	--dimension: var(--big-tile-dimension);
	justify-content: center;
	align-items: center;
	min-width: var(--dimension);
	height: var(--dimension);
}
.player-icon svg {height: calc(0.6 * var(--dimension));}



/** Play column 1 */
/* Score */
.score-container {
	--z-player-bg: 100;
	--z-score-box: 101;
	--z-player-border: 102;

	position: relative;
	width: 100%;
	margin-bottom: 0.5rem;
}

.score-box {
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding-right: 0.5rem;
	border: var(--input-border-width) solid var(--ui-color2);
	z-index: var(--z-score-box);
}
.score-box + .score-box {margin-top: calc(-1 * var(--input-border-width));}

.score-box .player-icon {border-right: var(--input-border-width) solid var(--ui-color2);}

.player-name {
	flex-grow: 1;
	font-size: 0.45rem;
	padding-left: 0.3rem;
}

.player-score {
	font-family: var(--font2);
	font-size: 0.8rem;
	font-weight: 200;
}

.current-player-indicator-bg,
.current-player-indicator-border {
	position: absolute;
	transition: all 0.3s;
}
.current-player-indicator-bg {
	left: 0;
	width: 100%;
	height: 50%;
	background: var(--ui-color3);
	z-index: var(--z-player-bg);
}
.current-player-indicator-border {
	left: calc(-1 * var(--indicator-border-width) + var(--input-border-width));
	width: calc(100% + 2 * (var(--indicator-border-width) - var(--input-border-width)));
	height: calc(50% + var(--indicator-border-width) + var(--input-border-width) / 2);
	border: var(--indicator-border-width) solid var(--ui-color2);
	z-index: var(--z-player-border);
}



/** Done buttons */
.play-function-container {
	--tilebag-height: calc(3 * var(--big-tile-dimension) - 2 * var(--input-border-width));
	flex-direction: row;
	width: 100%;
	height: var(--tilebag-height);
	margin-bottom: 0.5rem;
}

.done-btns-container {
	width: 100%;
	height: 100%;
	margin-right: 0.5rem;
}

.done-btn {--inside-bg: var(--ui-color3);}
.done-btn + .done-btn {margin-top: calc(-1 * var(--input-border-width));}
.done-btn .btn-inside {
	flex-direction: row;
	justify-content: flex-start;
	font-size: 0.45rem;
	padding-left: 0.9rem;
}
.done-btn svg {
	height: 0.45rem;
	margin-right: 0.5em;
}



/** Tile bag */
.tilebag-container {
	--show-duration: 8s;
	position: relative;
	height: 100%;
}
.show-tilebag .tilebag-icon {
	opacity: 0;
	pointer-events: none;
}
.show-tilebag .tilebag-timer-bar {animation: timerBar linear var(--show-duration);}
.show-tilebag .tilebag-count-text {opacity: 0;}
.show-tilebag .tilebag-hover-text {opacity: 1;}
@keyframes timerBar {
	0%   {width: 100%;}
	100% {width:   0%;}
}

.tilebag-icon {
	justify-content: center;
	align-items: center;
	opacity: 1;
	height: 100%;
	background: var(--ui-color1);
	transition: all 0.2s;
	cursor: pointer;
	z-index: var(--z-above-tile);
}

.tilebag-text {
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	font-size: calc(var(--tilebag-height) / 4);
	margin-top: calc(0.22 * var(--tilebag-height));
	pointer-events: none;
}
.tilebag-count-text {opacity: 1;}
.tilebag-count {
	font-family: var(--font2);
	font-weight: 100;
}
.tilebag-tile-text {
	font-size: 0.35em;
	margin-top: -0.6em;
}
.tilebag-hover-text {
	position: absolute;
	opacity: 0;
	font-size: 0.45rem;
	font-style: italic;
	line-height: 1.1;
	margin-top: 0.4rem;
}
.tilebag-icon:hover .tilebag-count-text {opacity: 0;}
.tilebag-icon:hover .tilebag-hover-text {opacity: 1;}

.tilebag-icon svg {height: 100%;}

.tilebag-inside-container {
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	height: 100%;
	width: 100%;
	border: var(--input-border-width) solid var(--ui-color2);
	overflow: hidden;
	z-index: var(--z-below-tile);
}

.tilebag-scroll-container {
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.tilebag-scroll-text {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 0.4rem;
	margin-top: 0.3rem;
	margin-bottom: 0.2rem;
}
.tilebag-scroll-text svg {
	height: 0.25rem;
	margin-left: 0.1rem;
	transform: rotate(90deg);
}

.tilebag-tiles-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: min-content;
	margin-bottom: 0.6rem;
	padding-left: var(--input-border-width);
	padding-top: var(--input-border-width);
}

.tilebag-timer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: var(--indicator-border-width);
	z-index: var(--z-above-tile);
}
.tilebag-timer-bar {
	width: 0%;
	height: 100%;
	background: var(--ui-color2);
}



/** Play history */
.play-history-container {
	--z-history-scroll: 100;
	--z-history-above-scroll: 101;
	position: relative;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
}

.play-history-title {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: var(--big-tile-dimension);
	font-size: 0.45rem;
	border: var(--input-border-width) solid var(--ui-color2);
}

.play-history-body {
	position: relative;
	flex-grow: 1;
	padding: calc(-1 * var(--input-border-width)) 0;
	border: var(--input-border-width) solid var(--ui-color2);
	border-top: 0;
	border-bottom: 0;
	overflow: hidden;
}

.play-history-scroll-container {
	position: absolute;
	top: calc(-1 * var(--input-border-width));
	bottom: calc(-1 * var(--input-border-width));
	left: 0;
	width: 100%;
	height: calc(100% + 2 * var(--input-border-width));
	overflow-y: scroll;
	z-index: var(--z-history-scroll);
}

.play-history-message {
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	margin-top: calc(-1 * var(--input-border-width));
	border: var(--input-border-width) solid var(--ui-color2);
	border-left: 0;
	border-right: 0;
}
.play-history-message:nth-child(1) {margin-top: auto;}

.play-history-message .player-icon {
	--dimension: var(--small-tile-dimension);
	border: var(--input-border-width) solid var(--ui-color2);
}

.play-history-text {
	flex-grow: 1;
	display: block;
	font-size: 0.45rem;
	line-height: 1.3;
}

.play-history-input-container {
	flex-direction: row;
	min-height: var(--big-tile-dimension);
	z-index: var(--z-history-above-scroll);
}

.play-history-textbox {
	flex-grow: 1;
	font-size: 0.5rem;
	padding: 0 0.5rem;
	background: transparent;
	border: var(--input-border-width) solid var(--ui-color2);
	border-right: 0;
	outline: none;
}
.play-history-textbox::placeholder {opacity: 0.4;}

.play-history-send-btn {
	--inside-bg: var(--ui-color3);
	width: var(--big-tile-dimension);
	height: 100%;
}
.play-history-send-btn svg {height: 0.5rem;}
.play-history-send-btn[disabled] {
	--inside-bg: var(--ui-color1);
	pointer-events: none;
}

.play-history-message[data-player="user"] {flex-direction: row-reverse;}
.play-history-message[data-player="user"] .play-history-text {
	text-align: end;
	margin-right: 0.4rem;
}
.play-history-message[data-player="bot"] {flex-direction: row;}
.play-history-message[data-player="bot"] .play-history-text {margin-left: 0.4rem;}



/** Play column 2 */
.board-letter, .board-number, .cell, .cell-content {
	width: 1rem;
	height: 1rem;
}

.board-letter-container {
	grid-column-start: 1;
	grid-row-start: 1;
	flex-direction: row;
}
.board-number-container {
	grid-column-start: 2;
	grid-row-start: 2;
}

.board-letter, .board-number {
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 0.5rem;
	font-weight: 600;
}
.board-letter {margin-left: var(--input-border-width);}
.board-number {margin-top: var(--input-border-width);}

.board-column {
	grid-column-start: 1;
	grid-row-start: 2;
}

.board {
	position: relative;
	display: grid;
	grid-template-columns: repeat(var(--board-dimension), auto);
	padding: var(--input-border-width);
	padding-right: 0;
	padding-bottom: 0;
}

.cell {
	position: relative;
	justify-content: center;
	align-items: center;
	background: var(--bg);
	margin-left: calc(-1 * var(--input-border-width));
	margin-top: calc(-1 * var(--input-border-width));
	border: var(--input-border-width) solid var(--ui-color2);
	box-sizing: content-box;
}
.cell[data-cell-id="0"] {--bg: var(--cell-color);}
.cell[data-cell-id="1"] {--bg: var(--start-color);}
.cell[data-cell-id="2"] {--bg: var(--dl-color);}
.cell[data-cell-id="3"] {--bg: var(--dw-color);}
.cell[data-cell-id="4"] {--bg: var(--tl-color);}
.cell[data-cell-id="5"] {--bg: var(--tw-color);}
.cell[data-cell-id="6"] {--bg: var(--ql-color);}
.cell[data-cell-id="7"] {--bg: var(--qw-color);}

.cell[data-cell-id="1"] svg {
	height: 0.7rem;
	opacity: 0.5;
}
.cell[data-cell-id="1"] path {
	fill: var(--ui-color3);
	stroke: none;
}

.cell-abbr {
	font-size: 0.45rem;
	font-weight: 700;
	color: var(--ui-color3);
	opacity: 0.5;
	pointer-events: none;
}

.cell-indicator {
	position: absolute;
	width: calc(100% - 2 * var(--input-border-width));
	height: calc(100% - 2 * var(--input-border-width));
	pointer-events: none;
	z-index: var(--z-below-tile) !important;
}
.cell:hover .cell-indicator {
	outline: var(--indicator-border-width) solid var(--ui-color2);
}



/** Dialog boxes */
.show-dialog {pointer-events: none;}
.show-dialog .btn:not(.dialog .btn) {--inside-bg: var(--ui-color1) !important;}

.dialog {
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: var(--ui-color1);
	border: var(--input-border-width) solid var(--ui-color2);
	pointer-events: none;
	transition: all 0.2s;
}
.show-dialog .current-dialog {
	opacity: 1;
	pointer-events: all;
}

.dialog-text {
	font-family: var(--font2);
	font-size: 0.9rem;
	font-weight: 100;
	font-style: italic;
	margin-bottom: 0.5rem;
}

.dialog-btn-container {
	flex-direction: row;
	width: 7rem;
	height: var(--big-tile-dimension);
}
.dialog-btn-container .btn {
	width: 100%;
	height: 100%;
}
.dialog-btn-container .btn-inside {font-size: 0.45rem;}
.dialog-confirm-btn {--inside-bg: var(--ui-color3);}
.dialog-deny-btn {margin-left: calc(-1 * var(--input-border-width));}

/* Skip */
.skip-dialog {z-index: var(--z-above-tile);}

/* Exchange */
.show-dialog[data-dialog="exchange"] .user-rack-tiles,
.show-dialog[data-dialog="exchange"] .tile[data-state="rack"]
{pointer-events: all !important;}

.exchange-dialog {z-index: var(--z-below-tile);}
.exchange-dialog .rack-tiles {margin-bottom: 0.5rem;}

/* Blank */
.blank-dialog {z-index: var(--z-above-tile);}
.blank-option {
	--hover-extend: 0.15rem;
	--checked-extend: 0.15rem;
	width: var(--big-tile-dimension);
	height: var(--big-tile-dimension);
}
.blank-option .btn-inside {
	font-size: calc(0.6 * var(--big-tile-dimension));
	font-weight: 800;
}

/* Start Over */
.start-over-dialog {z-index: var(--z-above-tile);}

/* Resign */
.resign-dialog {z-index: var(--z-above-tile);}



/** Tile racks */
.rack-tiles {flex-direction: row;}
.user-rack-tiles {margin: 0 0.5rem;}

.tile-slot {
	justify-content: center;
	align-items: center;
	width: var(--big-tile-dimension);
	height: var(--big-tile-dimension);
}
.tile-slot + .tile-slot {margin-left: calc(-1 * var(--input-border-width));}

.tile-slot-indicator {
	position: absolute;
	height: calc(0.6 * var(--big-tile-dimension));
	width: calc(0.6 * var(--big-tile-dimension));
	border: var(--input-border-width) solid var(--ui-color2);
	border-radius: 50%;
}

.user-rack-container, .action-btn-container {width: 100%;}
.user-rack-container {
	flex-direction: row;
	justify-content: center;
	height: var(--big-tile-dimension);
	margin: 0.5rem 0;
}

.rack-btn {font-size: calc(var(--big-tile-dimension) / 2);}

.bot-rack-tiles {
	position: absolute;
	top: calc(-5rem);
	right: 5.05rem;
	/* top: 0;
	right: 0; */
}



/** Board buttons */
.action-btn-container {
	flex-direction: row;
	height: var(--big-tile-dimension);
}

.action-btn, .rack-btn {
	--inside-bg: var(--ui-color3);
	width: 100%;
}
.shuffle-btn svg {height: 0.7rem;}
.recall-btn svg {height: 0.5rem;}

.action-btn + .action-btn {margin-left: calc(-1 * var(--input-border-width));}
.action-btn .btn-inside {
	flex-direction: row;
	font-size: 0.45rem;
}
.action-btn svg {
	height: 0.4rem;
	margin-right: 0.5em;
}

.play-btn, .bot-play-btn {--inside-bg: var(--ui-color3);}
.play-btn[disabled] {
	--inside-bg: var(--ui-color1);
	pointer-events: none;
}




/** Player states */
/* User */
[data-current-player="user"] .current-player-indicator-bg {top: 0;}
[data-current-player="user"] .current-player-indicator-border
{top: calc(-1 * var(--indicator-border-width) + var(--input-border-width));}

/* Bot */
[data-current-player="bot"] .current-player-indicator-bg {top: 50%;}
[data-current-player="bot"] .current-player-indicator-border
{top: calc(50% - var(--indicator-border-width) + var(--input-border-width) / 2);}

[data-current-player="bot"] .action-btn,
[data-current-player="bot"] .recall-btn
{--inside-bg: var(--ui-color1);}

[data-current-player="bot"] .action-btn-container,
[data-current-player="bot"] .recall-btn,
[data-current-player="bot"] .tile[data-state="rack"]
{pointer-events: none;}