.title-screen {justify-content: space-between;}



/* Logo */
.title-logo-container {
	margin: 0 auto;
	margin-top: -1rem;
}

.logo-text1 {
	--border-width: calc(1 * var(--input-border-width));
	--border-color: var(--ui-color2);
	position: relative;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	font-family: var(--font2);
	font-size: 4rem;
	font-weight: 700;
	font-style: italic;
}

.logo-top-text {position: relative;}
.logo-top-text div:nth-child(1) {
	position: absolute;
	color: var(--tile-rack-color);
	-webkit-text-stroke-width: calc(2 * var(--border-width));
	-webkit-text-stroke-color: var(--border-color);
	z-index: 11;
}
.logo-top-text div:nth-child(2) {
	color: var(--ui-color3);
	z-index: 12;
}

.logo-bars {
	position: absolute;
	left: 50%;
	width: 200%;
	height: 0.54em;
	margin-top: 0.24em;
	border: var(--border-width) solid var(--border-color);
	overflow: hidden;
	z-index: 10;
	box-sizing: content-box;
	transform: translateX(-50%);
}

.logo-bars div {
	width: 100%;
	height: 100%;
	background: black;
}
.logo-bars div:nth-child(1) {background: var(--tw-color);}
.logo-bars div:nth-child(2) {background: var(--tl-color);}
.logo-bars div:nth-child(3) {background: var(--start-color);}
.logo-bars div:nth-child(4) {background: var(--dl-color);}
.logo-bars div:nth-child(5) {background: var(--dw-color);}

.logo-text2 {
	flex-direction: row;
	margin-top: 0.3rem;
}

.logo-tile {
	--dimension: 5rem;
	font-family: "Noto Sans", "Noto Sans Hebrew", "Noto Sans Arabic", "Noto Sans JP";
	width: var(--dimension);
	height: var(--dimension);
	font-size: calc(0.7 * var(--dimension));
	font-weight: 900;
	pointer-events: none;
}
.logo-tile .btn-inside {background: var(--tile-rack-color);}
.logo-tile + .logo-tile {margin-left: calc(-1 * var(--input-border-width));}
.logo-tile.logo-tile-hover {--current-extend: 0.25rem;}

.logo-tile-letter {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: none;
	-webkit-transition: none;
}
.logo-tile-letter:nth-child(1) {opacity: 1;}
.logo-tile:nth-child(1) .logo-tile-letter:nth-child(3) {transform: translateY(-25%);}
.logo-tile:nth-child(3) .logo-tile-letter:nth-child(5) {transform: translateY(-25%);}



/* Bottom container */
.title-bottom-container {align-self: center;}

.title-bottom-container > * {
	width: 10rem;
	height: 3rem;
}

.semipedia-text {
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 0.85rem;
	opacity: 0.3;
	border: var(--input-border-width) solid var(--ui-color2);
	border-bottom: 0;
}

.semipedia-text div:nth-child(1) {
	font-size: 0.5em;
	font-style: italic;
	margin-bottom: 0.5em;
}

@font-face {
	font-family: "Doyle";
	font-weight: 900;
	font-style: italic;
	src: url("https://semishawn.github.io/semipedia/fonts/doyle/Doyle-BlackItalic.woff2");
}
.semipedia-text div:nth-child(2) {
	font-family: "Doyle";
	font-weight: 900;
	font-style: italic;
	line-height: 1;
}

.title-play-btn svg {margin-left: 0.3rem;}