:root {
	--font1: "Noto Sans";
	--font2: "Noto Serif";

	/* --ui-color1: #a1bdac;
	--ui-color2: black;
	--ui-color3: white;

	--cell-color: white;
	--start-color: #85de77;
	--dl-color: #4cb0ff;
	--dw-color: #005599;
	--tl-color: #f8b290;
	--tw-color: #f26522; */

	--ui-color1: #ea3c25;
	--ui-color2: white;
	--ui-color3: black;

	--tile-color: #dfc1a3;

	--cell-color: #eee;
	--start-color: #eea73c;
	--dl-color: #7bbcd4;
	--dw-color: #eea73c;
	--tl-color: #1478c1;
	--tw-color: #ea3c25;

	--aspect-ratio: calc(4 / 3);
	--screen-width: 720px;

	--input-border-width: 1px;
	--indicator-border-width: calc(3 * var(--input-border-width));

	--small-tile-width: 1rem;
	--big-tile-width: 1.3rem;
	--tile-ratio: 1.03;
	--tile-width: var(--big-tile-width);

	--z-tile-below:   1000;
	--z-tile-placed:  1001;
	--z-tile-between: 1002;
	--z-tile-rack:    1003;
	--z-tile-above:   1004;

	--input-transition: 0.1s;
}