html {font-size: calc(10vw / 3);}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	--body-color: var(--ui-color2);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font1);
	margin: 0;
	background: var(--body-color);
}

* {box-sizing: border-box;}

div, label {
	display: flex;
	flex-direction: column;
}

input[type="radio"] {display: none;}

.game-window {
	--border-width: 4px;
	--border-radius: 10px;
	--border-color: var(--tile-color);
	position: relative;
	justify-content: flex-start;
	align-content: flex-start;
}

.game-window-tab {
	--overlap: 50px;
	position: relative;
	width: min-content;
	font-size: 13px;
	font-weight: 700;
	font-style: italic;
	padding: calc(2 * var(--border-width)) 40px;
	padding-bottom: calc(var(--overlap) + var(--border-width));
	margin-bottom: calc(-1 * var(--overlap));
	background: var(--border-color);
	border-radius: var(--border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	white-space: nowrap;
}
.game-window-tab-corner {
	position: absolute;
	bottom: var(--overlap);
	right: calc(-1 * var(--border-radius));
	width: var(--border-radius);
	height: var(--border-radius);
	background: var(--border-color);
}
.game-window-tab-corner::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 100%;
	background: var(--body-color);
}

.main-wrapper {
	padding: var(--border-width);
	background: var(--border-color);
	border-radius: calc(var(--border-radius) + var(--border-width));
}

iframe {
	position: relative;
	width: var(--screen-width);
	height: calc(var(--screen-width) / var(--aspect-ratio));
	border: 0;
	border-radius: var(--border-radius);
	overflow: hidden;
	box-sizing: content-box;
}